<a href="https://colab.research.google.com/github/DiBevilacqua/DiBevilacqua/blob/main/exce%C3%A7%C3%A3o_(try_except_finaly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estrutura condicional try/except/finaly

exeções : são erros que podem acontecer durante a execução do nosso código.

In [28]:
#exemplo : Erro de operaçoes numericas impossiveis

preco = 132.85
pessoas = 0

valor_por_pessoa = preco / pessoas

ZeroDivisionError: float division by zero

In [10]:
#exemplo : Erro por combinações de tipos diferentes.

nome = 'Diego'
idade = 34

apresentacao = 'Fala pessoal, meu nome e' + nome + 'e eu tenho' + idade + 'anos'

TypeError: can only concatenate str (not "int") to str

In [12]:
#exemplo : Erro de indexação de estrutura de dados

anos = [2019, 2020, 2021]

ano_atual = anos[3]

IndexError: list index out of range

In [23]:
#exemplo 2

cursos = {
    'python': {
        'nome': 'python para analise de Dados', 'duracao': 2.5
    },
    'Sql':{
        'nome': 'Sql para analise de Dados', 'duracao': 2
    }
}
curso_atual =cursos['analista']

KeyError: 'analista'

In [26]:
preco = 132.85
pessoas = 2

try:
  valor_por_pessoa = preco / pessoas
  print(valor_por_pessoa)
except ZeroDivisionError:
  print('numero de pessoas invalido. espera-se um valor maior que 0 e obteve-se um valor igual a ' + str(pessoas))

66.425

In [36]:
from logging import exception
anos = [2019, 2020, 2021]


try:
  ano_atual = anos [3]
  print(ano_atual)
except Exception as exc:
  print('descricao da exceção:' + str(exc))
  print('Tipo da exceção: ' + str(type(exc)))
  print('lista de anos e menor que o valor escolhido. espera-se um valor 0 e' + str(len(anos) - 1 ))

descricao da exceção:list index out of range
Tipo da exceção: <class 'IndexError'>
lista de anos e menor que o valor escolhido. espera-se um valor 0 e2

In [40]:
anos = [2019, 2020, 2021]

try:
  ano_atual = anos[3]
  print(ano_atual)
except IndexError:
  print('lista de anos e menor que o valor escolhido. espera-se um valor entre 0 e ' +str(len(anos) - 1))
except Exception as exc:
  print(exc)
  print('Erro generico')

lista de anos e menor que o valor escolhido. espera-se um valor entre 0 e 2

In [48]:
nome = 'Diego'
idade = 34

try:
  apresentacao = 'fala pessoal, meu nome é ' + nome + 'e eu tenho ' + idade + ' anos'
  print(apresentacao)
except TypeError:
  idade = str(idade)
finally:
  print('Segunda chance')
  apresentacao = 'Fala pessoal, meu nome é ' + nome + 'e eu tenho ' + idade + ' anos'
  print(apresentacao)

Segunda chance
Fala pessoal, meu nome é Diegoe eu tenho 34 anos