<a href="https://colab.research.google.com/github/DiBevilacqua/DiBevilacqua/blob/main/For_in_range_break_continue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estruturas de repetição For/in

estrutura que permite a execução repetida de um bloco de codigo repetidas vezes

In [9]:
#for varialvel_temporaria in coleção : <execute este codigo>
#for/in/range
#estrutura que permite a execução reeptida de um bloco de codigo n vezes

for valor in range(6):
  print(valor)

0
1
2
3
4
5

In [13]:
soma = 0
for valor in range(0, 10):
  soma = soma + valor

print(soma)

45

In [7]:
for multiplos_dois in range(2, 10, 2):
  print(multiplos_dois)

2
4
6
8

In [14]:
#for/in/list
#estrutura que permite a execução de um bloco de codigo para todos os elementos de uma lista

frutas = ['maca', 'banana', 'laranja', 'uva', 'pera']

for fruta in frutas:
  print(fruta)

maca
banana
laranja
uva
pera

In [25]:
frase = 'fala pessoal, meu nome é Andre Perez .'

for caracter in frase:
  if (caracter == 'A') | (caracter == 'z'):
    print(f'A letra "{caracter}'' está presente na frase')

A letra "A está presente na frase
A letra "z está presente na frase

In [27]:
#for/in/dict
#estrutura que permite a execução de um bloco de codigo para todos os elementos de um dicionario

credito = {'123': 750, '456': 812, '789': 980}

for chave, valor in credito.items():
  print(f'Para o documento {chave}, o valor do escore de credito é {valor}.')
  print('\n')

Para o documento 123, o valor do escore de credito é 750.


Para o documento 456, o valor do escore de credito é 812.


Para o documento 789, o valor do escore de credito é 980.

In [30]:
for chave in credito.keys():
  print(chave)
  print(credito[chave])
  print(f'Para o documento {chave}, o valor do escore de credito e {credito[chave]}.')
  print('\n')

123
750
Para o documento 123, o valor do escore de credito e 750.


456
812
Para o documento 456, o valor do escore de credito e 812.


789
980
Para o documento 789, o valor do escore de credito e 980.

In [31]:
for valor in credito.values():
  print(valor)
  print(f'o valor do escore de credito e {valor}, mais nao temos mais as chaves:(.')
  print('\n')

750
o valor do escore de credito e 750, mais nao temos mais as chaves:(.


812
o valor do escore de credito e 812, mais nao temos mais as chaves:(.


980
o valor do escore de credito e 980, mais nao temos mais as chaves:(.

In [36]:
#break/continue

for i in range(0, 10*10*10*10*10*10):
  print(i)
  if i== 2:
    break

0
1
2

In [38]:
numero = 10

if numero % 2 == 0:
  print(f'o numero {numero} e Par')
else:
    print(f'o numero {numero} e impar')

o numero 10 e Par

In [39]:
numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:

  if numero % 2 == 0:
    print(f'o numero {numero} é par')
    break
  else:
    print(f'o numero {numero} é impar')

o numero 361 é impar
o numero 553 é impar
o numero 194 é par

In [40]:
numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:

  if numero % 2 == 0:
    print(f'o numero {numero} é par')
    break
  else:
    continue
    print(f'o numero {numero} é impar')

o numero 194 é par