<a href="https://colab.research.google.com/github/DiBevilacqua/DiBevilacqua/blob/main/lendo_arquivos_with_open.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

topicos Leitura.1. Configuração inicial Vamos utilizar uma função do Google Colabpara criar arquivos para esse módulo. Nota: esse código não é do Python e sim da ferramenta.

Arquivo CSV: banco.csv

In [3]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco.csv

In [6]:
# with open(file='<caminho do arquivo', mode='<modo de leitura>', encoding='<decodificador>') as <apelido>:

#read

conteudo = None

with open(file='./banco.csv' , mode='r' , encoding='utf8') as arquivo:
  conteudo = arquivo.read()

print(conteudo)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

In [11]:
conteudo = []

with open(file='./banco.csv' , mode='r' , encoding='utf8') as arquivo:
  linha = arquivo.readline()
  while linha:
    conteudo.append(linha)
    linha = arquivo.readline()
print(conteudo)

['age,job,marital,education,default,balance,housing,loan \n', '30,unemployed,married,primary,no,1787,no,no \n', '33,services,married,secondary,no,4789,yes,yes \n', '35,management,single,tertiary,no,1350,yes,no \n', '30,management,married,tertiary,no,1476,yes,yes \n', '59,blue-collar,married,secondary,no,0,yes,no \n', '35,management,single,tertiary,no,747,no,no \n', '36,self-employed,married,tertiary,no,307,yes,no \n', '39,technician,married,secondary,no,147,yes,no \n', '41,entrepreneur,married,tertiary,no,221,yes,no \n', '43,services,married,primary,no,-88,yes,yes\n']

In [12]:
for linha in conteudo:
  print(linha)

age,job,marital,education,default,balance,housing,loan

30,unemployed,married,primary,no,1787,no,no

33,services,married,secondary,no,4789,yes,yes

35,management,single,tertiary,no,1350,yes,no

30,management,married,tertiary,no,1476,yes,yes

59,blue-collar,married,secondary,no,0,yes,no

35,management,single,tertiary,no,747,no,no

36,self-employed,married,tertiary,no,307,yes,no

39,technician,married,secondary,no,147,yes,no

41,entrepreneur,married,tertiary,no,221,yes,no

43,services,married,primary,no,-88,yes,yes

In [15]:
idades = []

with open(file='./banco.csv' , mode='r' , encoding='utf8') as arquivo:
  linha = arquivo.readline()
  linha = arquivo.readline()
  while linha:
    linha_separada = linha.split(sep=',')
    idade = linha_separada[0]
    idade = int(idade)
    idades.append(idade)
    linha = arquivo.readline()

print(idades)

[30, 33, 35, 30, 59, 35, 36, 39, 41, 43]