<a href="https://colab.research.google.com/github/DiBevilacqua/DiBevilacqua/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Modulo 02- aula de Dados
'conjuntos'

In [1]:
hashtags_seg = ['#thiago0', '#joao', '#bbb']
hashtags_ter = ['#sarah', '#bbb', '#fiuk']
hashtags_qua = ['#gil', '#thelma', '#lourdes']
hashtags_qui = ['#rafa', '#fora', '#danilo']
hashtags_sex = ['#juliete', '#arthur', '#bbb']

In [23]:
hashtags_semana = hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex
print(hashtags_semana)
print(len(hashtags_semana))

hashtags_semana = list(set(hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex))
print(hashtags_semana)
print(len(hashtags_semana))

['#thiago0', '#joao', '#bbb', '#sarah', '#bbb', '#fiuk', '#gil', '#thelma', '#lourdes', '#rafa', '#fora', '#danilo', '#juliete', '#arthur', '#bbb']
15
['#arthur', '#sarah', '#gil', '#fora', '#thiago0', '#juliete', '#rafa', '#danilo', '#fiuk', '#bbb', '#thelma', '#joao', '#lourdes']
13

In [7]:
#definição armazenam sequencias imutaveis e desordenadas valores, sem repetição são do tipo set, diferente das listas os conjuntos usam {} e não []

frutas ={'banana', 'maca', 'uva', 'uva'}
print(frutas)
print(type(frutas))

{'uva', 'maca', 'banana'}
<class 'set'>

In [9]:
#operaçoes = as operações do tipo set são: - (diferença)
#exemplo paises europa.

norte_europa = {'reino unido', 'suecia', 'russia', 'noruega','dinamarca'}
escandinavia = {'noruega', 'dinamarca', 'suecia'}

norte_europa_nao_escandinavia = norte_europa - escandinavia
print(norte_europa_nao_escandinavia)
print(type(norte_europa_nao_escandinavia))

escandinavia_nao_europa = escandinavia - norte_europa
print(escandinavia_nao_europa)
print(type(escandinavia_nao_europa))

{'russia', 'reino unido'}
<class 'set'>
set()
<class 'set'>

In [12]:
#Metodos : sao metodos nativos do python que nos ajudam a trabalhar no dia a dia com conjuntos

cursos = {'exatas', 'humanas', 'biologicas'}
print(cursos)

#incluir um elemento no conjunto: set.add(val)

cursos.add('saude')
print(cursos)

#remover um elemento no conjunto : set.remove(val)

cursos.remove ('humanas')
print(cursos)

{'biologicas', 'humanas', 'exatas'}
{'saude', 'biologicas', 'humanas', 'exatas'}
{'saude', 'biologicas', 'exatas'}

In [16]:
#Conversão : podemos converter conjuntos para lista e vise versa. (set)

times_paulistas = {'Sao paulo', 'Palmeiras', 'Corinthians', 'Santos'}
print(times_paulistas)
print(type(times_paulistas))
print(list(times_paulistas))

{'Corinthians', 'Palmeiras', 'Sao paulo', 'Santos'}
<class 'set'>
['Corinthians', 'Palmeiras', 'Sao paulo', 'Santos']
<class 'set'>

In [20]:
print(list(times_paulistas))
print(type(list(times_paulistas)))

['Corinthians', 'Palmeiras', 'Sao paulo', 'Santos']
<class 'list'>

In [14]:
#exemplo lista
times_paulistas = ['Sao paulo', 'Palmeiras', 'Corinthians', 'Santos']
print(times_paulistas)
print(type(times_paulistas))

['Sao paulo', 'Palmeiras', 'Corinthians', 'Santos']
<class 'list'>